/* https://github.com/swagger-api/swagger-ui/issues/4390#issuecomment-483289639 */
.topbar-wrapper img[alt="Swagger UI"],
.topbar-wrapper span {
  visibility: collapse;
}

.topbar-wrapper .link:before {
  content: url("thingspect.png");
  height: 40px;
}
